* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.button-1{
    background-color: #469165;
    color: #FFFF;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    gap: 10px;
    padding: 12px 16px;
}

header{
    background-color: #FFFF;
}


.navbar {
    height: 92;
    width: 1600;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

 .navbar .logo{
    padding-left: 120px;
    padding-right: 240px;
    
 }

.navbar .text a{
    
    text-decoration: none;
    padding-right: 32px;
}

.navbar .btn{
    padding-left: 240px;
    padding-right: 120px;
}

#upper-body{
    height: 674px;
    width: 1600px;
    background: url("../assets/hero-bg.png");
}
